# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Build Output
# ==========================
dist/
dist-ssr/
build/

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================
# Local Environment Files
# ==========================
*.local

# ==========================
# IDE / Editor
# ==========================
.vscode/*
!.vscode/extensions.json
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Visual Studio
# ==========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?